body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background:#30075d ;
    font-size:25px;

}

li,a,button{
    color:white;
    text-decoration: none;

}

header{
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: #CCCCCC;
    background-image: url("https://media.giphy.com/media/KY2ZMhnCxP008/source.gif");
    background-size: 30px;

}

input[type=search]{

    margin-left: 30px;
    filter: brightness(130%);

}

.logo{

}

.nav_links{
    list-style: none;
    margin-top:33px;
}

.nav_links li{
    display: inline-block;
    padding:10px 20px;
    margin-right: 20px;
    border-radius: 50px;
    background-color: var(--viola);
    color: white;
    border:2px solid black;
}

.nav_links li a{
    transition: all 0.4s ease 0s;

}

.nav_links li:hover, button:hover{
    background-color: violet;
    filter: brightness(100%);
    transition: all 0.3s ease 0s;

}


#drop {
    padding: 0;
    border:none;
}
button{
    padding: 9px 25px;
    background-color: var(--viola);
    border:2px solid black;
    border-radius: 50px;
    cursor:pointer;
    color:white;
}



.dropdown {
    display: block;
    text-align: center;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #e6e6e6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    min-width: 255px;

}
.dropdown-content a{
    color:black;
    display: block;
    font-size: 24px;
    border-bottom: solid 1px #02020c;
    padding: 5px;

}
.dropdown:hover .dropdown-content {display: block;}

nav{
    display: flex;
    margin-left: -50px;
}

div_links{
    flex: 60%;
}
.div_search{
    flex:20%;
    background-color:white ;
    border-radius: 50px;
    border: 2px solid black;
    height: 54px;
    width: 450px;
    margin: 27px;
    padding-right: 15px;
    transition: all 0.6s ease;
}
.search-btn{
    background-color:white ;
    color: black;
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 8px;
    border-radius: 50px;


}
.search-box{
    margin-top:5px;
    line-height: 0px;
    height: 40px;
    color:black;

}
::-webkit-input-placeholder { color: darkgrey;font-size: 16px; font-style:italic;}

.div_search:hover{
    filter:brightness(90%);
}

.cartbtn{
    color:black;
    background-color: white;
    border-radius: 50px;
    margin-left: 20px;
    padding: 21px 13px 1px 15px;
    border:2px solid black;
    transition: 0.4s all ease;
}

.cartbtn:hover{

    filter:brightness(80%);
}